html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;
}

button {
	padding: 10px 20px;
}

ul {
	list-style: none;
	padding: 0;
}

.drink-list {
	display: flex;
	justify-content: space-around;
}

.details-list {
	display: inline-block;
	width: 35%;
	margin: 2%;
	padding: 10px 20px 20px;
	text-align: center;
	border: 1px solid black;
}
